*{
    background-color: rgb(255, 251, 251);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
p{
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .1m; 
  animation: 
    typing 1.2s steps(12, end) forwards,
    blink-caret .75s step-end infinite;

}

@keyframes typing{
    from{width:0}
    to { width: 40%}
}

@keyframes blink {
    from, to {border-color: transparent}
    50% {border-color: orange;}
    
}